<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.oespartner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.UpdatePartnerPersonActivity"></activity>
        <activity android:name=".Activity.UpdateVehicleNoActivity"></activity>
        <activity android:name=".Activity.AddVehicleNoActivity" />
        <activity android:name=".Activity.VehicleNoActivity" />
        <activity android:name=".Activity.UpdateWorkgatepassActivity" />
        <activity android:name=".Activity.UpdateAuthorizedSignatoryActivity" />
        <activity android:name=".Activity.UpdateTransportActivity" />
        <activity android:name=".Activity.UpdateMaterialgatepassActivity" />
        <activity android:name=".Activity.UpdateVisitorGatePassActivity" />
        <activity android:name=".Activity.TransportDataActivity" />
        <activity android:name=".Activity.OtpActivity" />
        <activity android:name=".Activity.AddTransportActivity" />
        <activity android:name=".Activity.TransportActivity" />
        <activity android:name=".Activity.AddPartnerPersonActivity" />
        <activity android:name=".Activity.PartnerPersonActivity" />
        <activity android:name=".Activity.AddAuthorizedSignatoryActivity" />
        <activity android:name=".Activity.AuthorizedSignatoryActivity" />
        <activity android:name=".Activity.AddMaterialgatepassActivity" />
        <activity android:name=".Activity.AddWorkgatepassActivity" />
        <activity android:name=".Activity.AddVisitorgatepassActivity" />
        <activity android:name=".Activity.WorkgatepassActivity" />
        <activity android:name=".Activity.VisitorgatepassActivity" />
        <activity android:name=".Activity.MaterialGatepassActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.HomeActivity" />
        <activity android:name=".Activity.WebViewActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Activity.SplashActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>